/* You can add global styles to this file, and also import other style files */
// Imports
@import "../node_modules/bootstrap/scss/bootstrap";

html, body, .container * {
  font-family: "Roboto" !important;
}

.title-white{
  color: white;
  
}

/* Description Text */
.description-text {
    font-size: 1.125rem;
    color: #ffffff; /* Muted color for descriptions */
    //line-height: 1.6;
    //margin-bottom: 1.5rem;
}
/* Spacing Classes */
.section-padding {
  padding: 2rem 1rem;
}

.margin-bottom-lg {
  margin-bottom: 2rem;
}

.margin-top-lg {
  margin-top: 2rem;
}


.centered {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically (if needed) */
  width: 100%; /* Takes full width of the parent container */
  text-align: center;
}


.container {
  padding-top: 0%;
  padding-left: 1%; 
  padding-right: 1%; 
  margin-left: 5%;
  margin-right: 5%;
  border-left: 2px solid black; 
  border-right: 2px solid black; 
  //background-color: rgba(172, 166, 166, 0.26); 
  min-height: 100vh;
  min-width: 90vw;
}

.outside {
  position: relative;
  overflow: hidden;

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1000;
  }
}
.custom-modal-dialog {
  max-height: 100vh; 
  margin: 0 auto; 
}

.custom-modal-content {
  height: 100%; 
  display: flex;
  flex-direction: column; 
}

.custom-modal-body {
  flex: 1 1 auto; 
  overflow-y: auto; 
}