<div class="container flex-line">
  <div class="leftpanel">
    <button type="button" [disabled]="authed==false" class="small-button" data-bs-toggle="modal" data-bs-target="#serverModal">
      Serverside integration
    </button>
    <button class="small-button" (click)="toggleDevTools()">Toggle Dev Tools</button>
      <div *ngIf="devToolsActive === true" class="dev-tools">
        <button class="small-button"  (click)="fetchContainers()">Fetch Containers</button>
        <button class="small-button"  (click)="this.devService.fetchVariables()">Fetch All Variables</button>
        <button class="small-button"  (click)="this.devService.fetchTriggers()">Fetch All Triggers</button>
        <button class="small-button"  (click)="this.devService.fetchTags()">Fetch All Tags</button>
        <button class="small-button"  (click)="this.devService.fetchTemplates()">Fetch Templates</button>
        <button class="small-button"  (click)="fetchAccountId()">Test Fetch Account ID</button>
        <button class="small-button"  (click)="testValidation()">Test Validation</button>
        <button class="small-button"  (click)="logErrors()">Log errors</button>
        <button class="small-button"  (click)="signOut()">Sign out</button>
        <button class="small-button"  (click)="debug()">Debug</button>
      </div>
  </div>
  <div class="centerPanel">
    <h2 class="header-text">Awin GTM Wizard</h2>
    <div class="centered">
      <button class="google-btn" (click)="startLogin()">Login with Google</button><br>
      <label class="description-text centered" for="gtm-container">Enter GTM Container ID:</label>
      <input class="input-field  gtmField"
        type="text"
        id="gtm-container"
        [(ngModel)]="gtmContainer"
        (blur)="testValidation()"
        placeholder="GTM-XXXXXXX"
      />
      <div class="form-check">
        <input (ngModelChange)="testValidation()" [(ngModel)]="provideAccountID" class="form-check-input" type="checkbox" value="" id="provideAccountIDCheck" checked>
        <label class="description-text" for="flexCheckChecked">
          Provide Account ID
        </label>
      </div>
      <input *ngIf="provideAccountID == true" class="input-field  gtmField"
        type="text"
        id="accountID"
        [(ngModel)]="accountIDValue"
        (blur)="testValidation()"
        placeholder="XXXXXXX"
      />
    </div>
    <br>
    <div class="centered">
      <label class="description-text centered" for="gtm-container">Enter Advertiser ID:</label>
      <input class="input-field  gtmField"
        type="text"
        id="advertiserID"
        [(ngModel)]="advertiserID"
        (blur)="testValidation()"
        placeholder="XXXXXXX"
      />
    </div>
    <br>
    <div class="centered">
      <div class="label-container description-text">
        <label>Choose Installation Option:</label>
      </div>
      <div class="options-container">
        <div *ngFor="let option of installationOptions" class="spacing">
          <div class="input-field">
            <input
              type="radio"
              [id]="option.label"
              name="installOption"
              [value]="option.id"
              class="radio-color"
              [(ngModel)]="selectedOption"
            />
            <label class="spacing-left bold" [for]="option.label">{{ option.label }}</label>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="centered">
      <div *ngIf="requestStatus === 'in-progress'" class="margin-bot spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <button *ngIf="requestStatus != 'in-progress'" class="big-button" (click)="onSubmit()" [disabled]="authed==false || !validateInputs() || requestStatus == 'in-progress'">
        Submit
      </button>
      <br>
      <div *ngIf="warn === true" class="alert alert-warning" role="alert">
        {{ warnMessage }}
      </div>
      <div *ngIf="requestStatus === 'success'" class="alert alert-success" role="alert">
        The setup has finished sucessfully!
      </div>
      <div *ngIf="requestStatus === 'error'" class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" data-bs-theme="dark" id="serverModal" tabindex="-1" aria-labelledby="serverModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg custom-modal-dialog">
    <div class="modal-content custom-modal-content">
      <div class="modal-header centered">
        <h2 class="title-white" id="serverModalLabel">Serverside Integration</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center custom-modal-body">
        <div class="mb-3">
          <label class="description-text" for="gtm-container-s2s">Enter Serverside GTM Container ID:</label>
          <input class="input-field gtmField mx-auto d-block"
            type="text"
            id="gtm-container-s2s"
            [(ngModel)]="gtmContainerS2S"
            (blur)="validateInputsS2S()"
            placeholder="GTM-XXXXXXX"
          />
        </div>
        <div class="mb-3">
          <label class="description-text" for="gtm-container-s2s-client">Enter Clientside GTM Container ID:</label>
          <input class="input-field gtmField mx-auto d-block"
            type="text"
            id="gtm-container-s2s-client"
            [(ngModel)]="gtmContainerS2SClient"
            (blur)="validateInputsS2S()"
            placeholder="GTM-XXXXXXX"
          />
        </div>
        <div class="mb-3">
          <label class="description-text" for="accountIDValueS2S">Enter Account ID:</label>
          <input class="input-field gtmField mx-auto d-block"
            type="text"
            id="accountIDS2S"
            [(ngModel)]="accountIDValueS2S"
            (blur)="validateInputsS2S()"
            placeholder="XXXXXXX"
          />
        </div>
        <div class="mb-3">
          <label class="description-text" for="advertiserIDS2S">Enter Advertiser ID:</label>
          <input class="input-field gtmField mx-auto d-block"
            type="text"
            id="advertiserIDS2S"
            [(ngModel)]="advertiserIDS2S"
            (blur)="validateInputsS2S()"
            placeholder="XXXXXXX"
          />
        </div>
      </div>
      <div class="modal-footer">
        <div *ngIf="warnS2S === true" class="alert alert-warning" role="alert">
          {{ warnMessageS2S }}
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button *ngIf="requestStatus != 'in-progress'" class="big-button" (click)="onSubmitS2S()" [disabled]="authed==false || !validateInputsS2S() || requestStatus == 'in-progress'">Submit</button>
      </div>
    </div>
  </div>
</div>