<div class="container flex-line">
  <div class="leftpanel">
    <button class="small-button" (click)="toggleDevTools()">Toggle Dev Tools</button>
      <div *ngIf="devToolsActive === true" class="dev-tools">
        <button class="small-button"  (click)="fetchContainers()">Fetch Containers</button>
        <button class="small-button"  (click)="this.devService.fetchVariables()">Fetch All Variables</button>
        <button class="small-button"  (click)="this.devService.fetchTriggers()">Fetch All Triggers</button>
        <button class="small-button"  (click)="this.devService.fetchTags()">Fetch All Tags</button>
        <button class="small-button"  (click)="this.devService.fetchTemplates()">Fetch Templates</button>
        <button class="small-button"  (click)="fetchAccountId()">Test Fetch Account ID</button>
        <button class="small-button"  (click)="testValidation()">Test Validation</button>
        <button class="small-button"  (click)="logErrors()">Log errors</button>
        <button class="small-button"  (click)="signOut()">Sign out</button>
        <button class="small-button"  (click)="debug()">Debug</button>
      </div>
  </div>
  <div class="rightpanel">
    <h2 class="header-text">Awin GTM Wizard</h2>
    <div class="centered">
      <button class="google-btn" (click)="startLogin()">Login with Google</button><br>
      <label class="description-text centered" for="gtm-container">Enter GTM Container ID:</label>
      <input class="input-field  gtmField"
        type="text"
        id="gtm-container"
        [(ngModel)]="gtmContainer"
        (blur)="testValidation()"
        placeholder="GTM-XXXXXXX"
      />
      <div class="form-check">
        <input [(ngModel)]="provideAccountID" class="form-check-input" type="checkbox" value="" id="provideAccountIDCheck" checked>
        <label class="description-text" for="flexCheckChecked">
          Provide Account ID
        </label>
      </div>
      <input *ngIf="provideAccountID == true" class="input-field  gtmField"
        type="text"
        id="accountID"
        [(ngModel)]="accountIDValue"
        (blur)="testValidation()"
        placeholder="XXXXXXX"
      />
    </div>
    <br>
    <div class="centered">
      <label class="description-text centered" for="gtm-container">Enter Advertiser ID:</label>
      <input class="input-field  gtmField"
        type="text"
        id="advertiserID"
        [(ngModel)]="advertiserID"
        (blur)="testValidation()"
        placeholder="XXXXXXX"
      />
    </div>
    <br>
    <div class="centered">
      <div class="label-container description-text">
        <label>Choose Installation Option:</label>
      </div>
      <div class="options-container">
        <div *ngFor="let option of installationOptions" class="spacing">
          <div class="input-field">
            <input
              type="radio"
              [id]="option.label"
              name="installOption"
              [value]="option.id"
              class="radio-color"
              [(ngModel)]="selectedOption"
            />
            <label class="spacing-left bold" [for]="option.label">{{ option.label }}</label>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="centered">
      <div *ngIf="requestStatus === 'in-progress'" class="margin-bot spinner-border text-warning" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <button class="big-button" (click)="onSubmit()" [disabled]="authed==false || !validateInputs() || requestStatus == 'in-progress'">
        Submit
      </button>
      <br>
      <div *ngIf="warn === true" class="alert alert-warning" role="alert">
        {{ warnMessage }}
      </div>
      <div *ngIf="requestStatus === 'success'" class="alert alert-success" role="alert">
        The setup has finished sucessfully!
      </div>
      <div *ngIf="requestStatus === 'error'" class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>
  